.mobileShow{display: none !important;}
.mobileShowInline{display: none !important;}

.intro{position: fixed;overflow: hidden;width: 100%;height: 100vh;background-image: url("../images/bg_intro.jpg");background-position: center;background-size: cover;background-repeat: no-repeat;}
.intro .first{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);overflow: hidden;}
.intro .first img{opacity: 0;-webkit-animation: fadeInUp 5s ease;-moz-animation: fadeInUp 5s ease;-ms-animation: fadeInUp 5s ease;-o-animation: fadeInUp 5s ease;animation: fadeInUp 5s ease;}

.intro .second .lineGroup{opacity: 0;}
.intro .second .lineGroup span{position: absolute;display: block;background: rgba(255, 255, 255, 0.1);}
.intro .second .lineGroup span:nth-child(1){width: 1px;height: 100vh;top: 0;left: 10%;}
.intro .second .lineGroup span:nth-child(2){width: 1px;height: 100vh;bottom: 0;left: 35%;}
.intro .second .lineGroup span:nth-child(3){width: 1px;height: 100vh;top: 0;left: 65%;}
.intro .second .lineGroup span:nth-child(4){width: 1px;height: 100vh;bottom: 0;left: 90%;}
.intro .second .lineGroup span:nth-child(5){width: 100vw;height: 1px;top: 30%;left: 0;}
.intro .second .lineGroup span:nth-child(6){width: 100vw;height: 1px;top: 70%;right: 0;}
.intro.one .second .lineGroup{opacity: 1;}
.intro.one .second .lineGroup span:nth-child(1), .intro.one .second .lineGroup span:nth-child(2), .intro.one .second .lineGroup span:nth-child(3), .intro.one .second .lineGroup span:nth-child(4){-webkit-animation: heightFull 2s ease;-moz-animation: heightFull 2s ease;-ms-animation: heightFull 2s ease;-o-animation: heightFull 2s ease;animation: heightFull 2s ease;}
.intro.one .second .lineGroup span:nth-child(5), .intro.one .second .lineGroup span:nth-child(6){-webkit-animation: widthFull 2s ease;-moz-animation: widthFull 2s ease;-ms-animation: widthFull 2s ease;-o-animation: widthFull 2s ease;animation: widthFull 2s ease;}

.intro .second .projectImg{opacity: 0;position: absolute;left: 50%;transform: translateX(-50%);max-width: 2000px;width: 100%;height: 100%;margin: 0 auto;}
.intro.two .second .projectImg{opacity: 1;}
.intro.two .second .projectImg li{position: absolute;opacity: 0;}
.intro.two .second .projectImg li:before{content: "";position: inherit;display: block;width: 100%;height: 100%;border-radius: 10px;}
.intro.three .second .projectImg li{opacity: 1;}
.intro.two .second .projectImg li:nth-child(1){top: 86px;left: -24px;-webkit-animation: fadeIn01 9s ease 0.3s;-moz-animation: fadeIn01 9s ease 0.3s;-ms-animation: fadeIn01 9s ease 0.3s;-o-animation: fadeIn01 9s ease 0.3s;animation: fadeIn01 9s ease 0.3s;}
.intro.two .second .projectImg li:nth-child(1):before{background: rgba(0, 0, 0, 0.2);}
.intro.two .second .projectImg li:nth-child(2){top: 32px;left: 437px;-webkit-animation: fadeIn02 9s ease 0.9s;-moz-animation: fadeIn02 9s ease 0.9s;-ms-animation: fadeIn02 9s ease 0.9s;-o-animation: fadeIn02 9s ease 0.9s;animation: fadeIn02 9s ease 0.9s;}
.intro.two .second .projectImg li:nth-child(3){top: -30px;left: 1057px;-webkit-animation: fadeIn01 9s ease 0.1s;-moz-animation: fadeIn01 9s ease 0.1s;-ms-animation: fadeIn01 9s ease 0.1s;-o-animation: fadeIn01 9s ease 0.1s;animation: fadeIn01 9s ease 0.1s;}
.intro.two .second .projectImg li:nth-child(3):before{background: rgba(0, 0, 0, 0.05);}
.intro.two .second .projectImg li:nth-child(4){top: 0;left: 1628px;-webkit-animation: fadeIn01 9s ease 0.6s;-moz-animation: fadeIn01 9s ease 0.6s;-ms-animation: fadeIn01 9s ease 0.6s;-o-animation: fadeIn01 9s ease 0.6s;animation: fadeIn01 9s ease 0.6s;}
.intro.two .second .projectImg li:nth-child(4):before{background: rgba(0, 0, 0, 0.3);}
.intro.two .second .projectImg li:nth-child(5){top: 480px;left: 182px;-webkit-animation: fadeIn01 9s ease;-moz-animation: fadeIn01 9s ease;-ms-animation: fadeIn01 9s ease;-o-animation: fadeIn01 9s ease;animation: fadeIn01 9s ease;}
.intro.two .second .projectImg li:nth-child(5):before{background: rgba(0, 0, 0, 0.1);}
.intro.two .second .projectImg li:nth-child(6){top: 350px;left: 591px;-webkit-animation: fadeIn01 9s ease 0.3s;-moz-animation: fadeIn01 9s ease 0.3s;-ms-animation: fadeIn01 9s ease 0.3s;-o-animation: fadeIn01 9s ease 0.3s;animation: fadeIn01 9s ease 0.3s;}
.intro.two .second .projectImg li:nth-child(6):before{background: rgba(0, 0, 0, 0.2);}
.intro.two .second .projectImg li:nth-child(7){top: 388px;left: 1276px;-webkit-animation: fadeIn02 9s ease 0.5s;-moz-animation: fadeIn02 9s ease 0.5s;-ms-animation: fadeIn02 9s ease 0.5s;-o-animation: fadeIn02 9s ease 0.5s;animation: fadeIn02 9s ease 0.5s;}
.intro.two .second .projectImg li:nth-child(8){top: 753px;left: 243px;-webkit-animation: fadeIn01 9s ease 0.9s;-moz-animation: fadeIn01 9s ease 0.9s;-ms-animation: fadeIn01 9s ease 0.9s;-o-animation: fadeIn01 9s ease 0.9s;animation: fadeIn01 9s ease 0.9s;}
.intro.two .second .projectImg li:nth-child(8):before{background: rgba(0, 0, 0, 0.2);}
.intro.two .second .projectImg li:nth-child(9){top: 728px;left: 734px;-webkit-animation: fadeIn01 9s ease;-moz-animation: fadeIn01 9s ease;-ms-animation: fadeIn01 9s ease;-o-animation: fadeIn01 9s ease;animation: fadeIn01 9s ease;}
.intro.two .second .projectImg li:nth-child(9):before{background: rgba(0, 0, 0, 0.15);}
.intro.two .second .projectImg li:nth-child(10){top: 778px;left: 1297px;-webkit-animation: fadeIn02 9s ease;-moz-animation: fadeIn02 9s ease;-ms-animation: fadeIn02 9s ease;-o-animation: fadeIn02 9s ease;animation: fadeIn02 9s ease;}
.intro.two .second .projectImg li:nth-child(10):before{background: rgba(0, 0, 0, 0.08);}
.intro.two .second .projectImg li img{max-width: inherit;}
.intro .second .text{opacity: 0;position: absolute;display: flex;justify-content: center;align-items: center;width: 100%;height: 100vh;-webkit-transition: 2s;transition: 2s;}
.intro .second .text p{font-size: 50px;color: #FFF;font-weight: 700;line-height: 120%;letter-spacing: -0.9px;text-align: center;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.intro .second .text p span{color: #D3312D;}
.intro.four .second .text{opacity: 1;}
.intro.five:before{content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 4000px;height: 4000px;background: #fff;border-radius: 100%;-webkit-animation: whFull 1.5s cubic-bezier(0.4, 0, 1, 1);-moz-animation: whFull 1.5s cubic-bezier(0.4, 0, 1, 1);-ms-animation: whFull 1.5s cubic-bezier(0.4, 0, 1, 1);-o-animation: whFull 1.5s cubic-bezier(0.4, 0, 1, 1);animation: whFull 1.5s cubic-bezier(0.4, 0, 1, 1);z-index: 99;}
.intro.end{display: none;}


@media screen and (max-width: 1199px){

}
@media screen and (max-width: 767px){
    .mobileShow{display: block !important;}
	.mobileShowInline{display: inline-block !important;}
    .mobileHide{display: none !important;}

    .intro{background-image: url("../images/bg_intro_m.jpg");}
    .intro .second .lineGroup span:nth-child(1), .intro .second .lineGroup span:nth-child(2){display: none;}
    .intro .second .lineGroup span:nth-child(3){left: 33.3%;}
    .intro .second .lineGroup span:nth-child(4){left: 66.6%;}
    .intro .second .text p{font-size: 7.3vw;line-height: 133%;}
    .intro.two .second .projectImg li:before{border-radius: 5px;}
    .intro.two .second .projectImg li:nth-child(1){top: -1%;left: 0%;}
    .intro.two .second .projectImg li:nth-child(2){top: 3%;left: auto;right: -5%;}
    .intro.two .second .projectImg li:nth-child(3){top: 23%;left: auto;right: 5%;}
    .intro.two .second .projectImg li:nth-child(4){top: 25%;left: auto;right: -5%;}
    .intro.two .second .projectImg li:nth-child(5){top: 20%;left: 5%;}
    .intro.two .second .projectImg li:nth-child(6){top: 40%;left: -2%;}
    .intro.two .second .projectImg li:nth-child(7){display: none;}
    .intro.two .second .projectImg li:nth-child(8){top: 69%;left: -5%;}
    .intro.two .second .projectImg li:nth-child(9){top: 60%;left: 40%;}
    .intro.two .second .projectImg li:nth-child(10){top: 80%;left: auto;right: -5%;}

}
@media screen and (max-width: 320px){

}




@-webkit-keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(0);}
    50% {opacity: 1;transform: translateY(0);}
    100% {opacity: 0;transform: translateY(-100%);}
}
@-moz-keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(0);}
    50% {opacity: 1;transform: translateY(0);}
    100% {opacity: 0;transform: translateY(-100%);}
}
@-ms-keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(0);}
    50% {opacity: 1;transform: translateY(0);}
    100% {opacity: 0;transform: translateY(-100%);}
}
@-o-keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(0);}
    50% {opacity: 1;transform: translateY(0);}
    100% {opacity: 0;transform: translateY(-100%);}
}
@keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(0);}
    50% {opacity: 1;transform: translateY(0);}
    100% {opacity: 0;transform: translateY(-100%);}
}

@-webkit-keyframes heightFull {
    0% {height: 0;}
    100% {height: 100vh;}
}
@-moz-keyframes heightFull {
    0% {height: 0;}
    100% {height: 100vh;}
}
@-ms-keyframes heightFull {
    0% {height: 0;}
    100% {height: 100vh;}
}
@-o-keyframes heightFull {
    0% {height: 0;}
    100% {height: 100vh;}
}
@keyframes heightFull {
    0% {height: 0;}
    100% {height: 100vh;}
}

@-webkit-keyframes widthFull {
    0% {width: 0;}
    100% {width: 100vw;}
}
@-moz-keyframes widthFull {
    0% {width: 0;}
    100% {width: 100vw;}
}
@-ms-keyframes widthFull {
    0% {width: 0;}
    100% {width: 100vw;}
}
@-o-keyframes widthFull {
    0% {width: 0;}
    100% {width: 100vw;}
}
@keyframes widthFull {
    0% {width: 0;}
    100% {width: 100vw;}
}

@-webkit-keyframes fadeIn01 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(5px, 0);}
    80% {transform: scale(1) translate(0, -5px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-moz-keyframes fadeIn01 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(5px, 0);}
    80% {transform: scale(1) translate(0, -5px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-ms-keyframes fadeIn01 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(5px, 0);}
    80% {transform: scale(1) translate(0, -5px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-o-keyframes fadeIn01 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(5px, 0);}
    80% {transform: scale(1) translate(0, -5px);}
    100% {transform: scale(1) translate(0, 0);}
}
@keyframes fadeIn01 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    30% {transform: scale(1);opacity: 1;filter: blur(0);}
    50% {transform: scale(1) translate(5px, 0);}
    65% {transform: scale(1) translate(0, -5px);}
    80% {transform: scale(1) translate(5px, 0);}
    100% {transform: scale(1) translate(0, 0);}
}
@-webkit-keyframes fadeIn02 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(0, -5px);}
    80% {transform: scale(1) translate(5px, 0px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-moz-keyframes fadeIn02 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(0, -5px);}
    80% {transform: scale(1) translate(5px, 0px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-ms-keyframes fadeIn02 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(0, -5px);}
    80% {transform: scale(1) translate(5px, 0px);}
    100% {transform: scale(1) translate(0, 0);}
}
@-o-keyframes fadeIn02 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    50% {transform: scale(1);opacity: 1;filter: blur(0);}
    65% {transform: scale(1) translate(0, -5px);}
    80% {transform: scale(1) translate(5px, 0px);}
    100% {transform: scale(1) translate(0, 0);}
}
@keyframes fadeIn02 {
    0% {transform: scale(0) translate(0, 0);opacity: 0;filter: blur(30px);}
    30% {transform: scale(1);opacity: 1;filter: blur(0);}
    50% {transform: scale(1) translate(0, -5px);}
    65% {transform: scale(1) translate(5px, 0px);}
    80% {transform: scale(1) translate(0, -5px);}
    100% {transform: scale(1) translate(0, 0);}
}

@-webkit-keyframes whFull {
    0% {width: 0;height: 0;}
    100% {width: 4000px;height: 4000px;}
}
@-moz-keyframes whFull {
    0% {width: 0;height: 0;}
    100% {width: 4000px;height: 4000px;}
}
@-ms-keyframes whFull {
    0% {width: 0;height: 0;}
    100% {width: 4000px;height: 4000px;}
}
@-o-keyframes whFull {
    0% {width: 0;height: 0;}
    100% {width: 4000px;height: 4000px;}
}
@keyframes whFull {
    0% {width: 0;height: 0;}
    100% {width: 4000px;height: 4000px;}
}